html, body {min-height: 100%;}

h1 {
    font-size: 4em;
    color: white;
    top: 118px;
    margin-bottom: 1rem;

}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
    color: green;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}


img {
/* Set rules to fill background */
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #fff;
    overflow: hidden;
}

